.Activity {
    display : flex;   
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.HomeA {
    display:flex;
    flex-direction: column;
    padding: 20px;
    width: 85%;
    height: 100%;
    background-color: aqua;
}