
.MainFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw ;
  

  background-image: url('/src/assets/image.png'); 
  background-size: cover;   
  background-repeat: repeat; 
  background-position: center; 
}

.Login-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 25wh;
  height: 40vh;
  justify-self: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: 200%;
}

.Login-box input{
  font-size: 100%;
  border-radius: 10px;
  width : 60%;
}

.Login-title {
  text-align: center;
  justify-content: center;
  display: flex;
  width : 50%;
  background-color: gray;
  border-radius: 10px;
}

.Login-button {
  background-color: blue;
  width : 40%;
  height : 20%;
  text-justify: center;
  font-size: 20px;
}